<br>
<h1 align="center">About Project</h1>
<br>
<div class="container">
    <div class="topnav" id="myTopnav">
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="SocialMedia">Social Media</a>

        <a class="active" asp-controller="Home" asp-action="AboutUs">About Project</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>
<!--<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>-->
<p align="left">We are Group 4 of Distributed Information System Course of Fall 2019 (ISM 6225) at University of South Florida. We are pursuing MS in Business Analytics & Information Systems from Muma College of Business. This assignment is intended to help us create and deploy a fully functional website on Azure, using the ASP.NET MVC structure. The project is available in the <a href="https://github.com/psariya/DigitalRegistry">Github Repository</a>. Please find our contact details below </p>
<br>
<table id="t01">
    <tr>
        <th>Team Member</th>
        <th>Contribution</th>
    </tr>
    <tr>
        <td>
            <img src="~/img/Chandan.jpeg" alt="Chandan" style="width:128px;height:128px;">
            <br>
            <a href="https://www.linkedin.com/in/chandan-malamardi-90b205104/">Chandan Malamardi</a>
            <br>
            chandanm@mail.usf.edu
        </td>
        <td>Chandan is the main programmer of this html page. With his past experience as a webpage developer, he was able to provide useful insights of how to go about programming of HTML. He helped the team whenever they were stuck with errors and roadblocks in programming. His contribution was the About Project page and Unemployment page.</td>
    </tr>
    <tr>
        <td>
            <img src="~/img/Priyanka.jpg" alt="Priyanka" style="width:128px;height:128px;">
            <br>
            <a href="https://www.linkedin.com/in/priyankasariya/">Priyanka Sariya</a>
            <br>
            psariya@mail.usf.edu
        </td>
        <td>The main idea of this project was designed by Priyanka. She did the initial research of what should be the theme of this webpage and where should we extract the data, and went ahead and shared her thoughts and design with the team. The idea was immediately picked up by the team. Her contribution was the the Home page and Population page of this website.</td>
    </tr>
    <tr>
        <td>
            <img src="~/img/Randhir.jpg" alt="Randhir" style="width:128px;height:128px;">
            <br>
            <a href="https://www.linkedin.com/in/raorandhirsingh/">Rao Randhir Singh</a>
            <br>
            raorandhir@mail.usf.edu
        </td>
        <td>Randhir was the person who kept the team going. He was the one who pushed the team to do things on time and held meetings to ensure that the team was progressing in the right direction. His contribution was in making the Home Page and the Unemployment page.</td>
    </tr>
</table>
<br>
<br>
<p align="left">The source of our data is <a href="https://www.data.gov/"> Data.gov</a>, a federal government website where you can find data, tools, and resources to conduct research, develop web and mobile applications, design data visualizations, and more. We pulled our data from Finance area. Below is the logical data model of our data.</p>
<!--<div class="row">
    <div class="column">
        <p>Birds-eye View </p>
        <img src="img/Logical Data Model-1.jpg" alt="Logical Data Model" style="width:100%">
    </div>
    <div class="column">
        <p>Closer look</p>
        <img src="img/Logical Data Model-2.jpg" alt="Logical Data Model Zoomed" style="width:100%" border="1">
    </div>
</div>-->
