<br>
<h1 align="center">About Project</h1>
<br>
<div class="container">
    <div class="topnav" id="myTopnav">
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="SocialMedia">Social Media</a>

        <a class="active" asp-controller="Home" asp-action="AboutUs">About Project</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>
<!--<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>-->
<p align="left">We are Group 4 of Distributed Information System Course of Fall 2019 (ISM 6225) at University of South Florida. We are pursuing MS in Business Analytics & Information Systems from Muma College of Business. This assignment is intended to help us create and deploy a fully functional website on Azure, using the ASP.NET MVC structure. The project is available in the <a href="https://github.com/psariya/DigitalRegistry">Github Repository</a>. Please find our contact details below </p>
<br>
<p align="left">
    <b> <u> Self Reflection: </u>  </b>

    <br>
    1) Learnt the application of MVC in building an active website<br>
    2) Learnt how to pull data from an API and handle JSON format<br>
    3) Use of query string value passing to the model which in turn queries the database with the passed values<br>
    4) Understood the use of MS Azure as a cloud platform to host the website<br>
    5) Worked on CSS and HTML pages to enhance the aesthetics of the created website<br>
    6) Utility of MVC in creating a unified application where the database, UI and object layers are embedded within a single framework<br>
    <br>
</p>
<table id="t01">
    <tr>
        <th>Team Member</th>
        <th>Contribution</th>
    </tr>
    <tr>
        <td>
            <img src="~/img/Chandan.jpeg" alt="Chandan" style="width:128px;height:128px;">
            <br>
            <a href="https://www.linkedin.com/in/chandan-malamardi-90b205104/">Chandan Malamardi</a>
            <br>
            chandanm@mail.usf.edu
        </td>
        <td>Chandan is the main programmer of this project. With his past experience as a web developer, he was able to provide useful insights of how to go about programming of HTML. He helped the team whenever they were stuck with errors and deadlocks in programming.</td>
    </tr>
    <tr>
        <td>
            <img src="~/img/Priyanka.jpg" alt="Priyanka" style="width:128px;height:128px;">
            <br>
            <a href="https://www.linkedin.com/in/priyankasariya/">Priyanka Sariya</a>
            <br>
            psariya@mail.usf.edu
        </td>
        <td>Priyanka is the chief architect of this assignment and contributed mainly to the design of the whole project. Priyanka being experienced in MVC and .Net guided us whenever the team went clueless and has contributed in handling database functionalities and various other parts.</td>
    </tr>
    <tr>
        <td>
            <img src="~/img/Randhir.jpg" alt="Randhir" style="width:128px;height:128px;">
            <br>
            <a href="https://www.linkedin.com/in/raorandhirsingh/">Rao Randhir Singh</a>
            <br>
            raorandhir@mail.usf.edu
        </td>
        <td>Randhir contributed mainly in the web look and feel part along with handling the Json data and creating the database design part of the assignment.</td>
    </tr>
</table>
<br>
<br>
<p align="left">The source of our data is <a href="https://www.data.gov/"> Data.gov</a>, a federal government website where you can find data, tools, and resources to conduct research, develop web and mobile applications, design data visualizations, and more. We pulled our data from Finance area. Below is the logical data model of our data.</p>
<!--<div class="row">
    <div class="column">
        <p>Birds-eye View </p>
        <img src="img/Logical Data Model-1.jpg" alt="Logical Data Model" style="width:100%">
    </div>
    <div class="column">
        <p>Closer look</p>
        <img src="img/Logical Data Model-2.jpg" alt="Logical Data Model Zoomed" style="width:100%" border="1">
    </div>
</div>-->
