<br>
<h1 align="center">U.S. Digital Registry</h1>
<br>
<div class="bg-img">
    <div class="containerImg">
        <div class="topnav" id="myTopnav">
            <a class="active" asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Home" asp-action="SocialMedia">Social Media</a>

            <a asp-controller="Home" asp-action="AboutUs">About Project</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
</div>

<div style="padding-left:20px; padding-right:20px">

    



    <p>
        To help prevent exploitation from unofficial sources, phishing scams, or malicious entities, the U.S. Digital Registry serves as a crowdsource resource for agencies, citizens, and developers to confirm the official status of social media and public-facing collaboration accounts, mobile apps, and mobile websites. The accounts in the registry are independently updated by federal managers across the government who maintain individual agency accounts.
        <br><br>
        The General Services Administration (GSA) wants to make it easier for citizens, application developers and federal workers to know that the social media accounts and third-party platforms federal agencies use are, in fact, legitimate. To accomplish that, the GSA announced the U.S. Digital Registry, a repository of the official accounts managed by federal agencies. It offers federal agencies a safer way to use social media, and granting them access to a wealth of information and resources.
        <br><br>
    </p>
</div>
<!--<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>-->
